name: Build Windows

on:
  push:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        submodules: 'recursive'
        fetch-depth: '0'

    - name: Install 7z
      uses: milliewalky/setup-7-zip@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Build Flutter Windows executable
      run: |
        flutter pub get
        flutter build windows --release

    - name: Download xray core
      uses: robinraju/release-downloader@v1.12
      with:
        repository: 'XTLS/Xray-core'
        latest: true
        fileName: 'Xray-windows-64.zip'
        out-file-path: 'temp/'

    - name: Extract xray core
      shell: bash
      run: |
        mkdir -p temp/xray
        7z x temp/Xray-windows-64.zip -otemp/xray
        mkdir -p build/windows/runner/Release/bin
        cp -r temp/xray/* build/windows/runner/Release/bin/

    - name: Package Windows build
      shell: bash
      run: |
        mkdir -p release
        cp -r build/windows/runner/Release/* release/
        cd release
        7z a -tzip ../flutter_windows_release.zip *
        cd ..
        ls -lh flutter_windows_release.zip

    - name: Upload Windows build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows-${{ github.ref_name }}-${{ github.run_number }}
        path: flutter_windows_release.zip

    - name: Release Package
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v2
      with:
        files: flutter_windows_release.zip
