name: Build Linux

on:
  push:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        submodules: 'recursive'
        fetch-depth: '0'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential cmake ninja-build pkg-config \
          libgtk-3-dev libglib2.0-dev libpango1.0-dev libatk1.0-dev libcairo2-dev \
          libayatana-appindicator3-dev \
          libnss3-dev \
          clang

    - name: Install 7z
      uses: milliewalky/setup-7-zip@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Build Flutter Linux executable
      run: |
        flutter pub get
        flutter build linux --release

    - name: Download xray core
      uses: robinraju/release-downloader@v1.12
      with:
        repository: 'XTLS/Xray-core'
        latest: true
        fileName: 'Xray-linux-64.zip'
        out-file-path: 'temp/'

    - name: Extract xray core
      shell: bash
      run: |
        mkdir -p temp/xray
        7z x temp/Xray-linux-64.zip -otemp/xray
        mkdir -p build/linux/runner/Release/bin
        cp -r temp/xray/* build/linux/runner/Release/bin/

    - name: Package Linux build
      shell: bash
      run: |
        mkdir -p release
        cp -r build/linux/runner/Release/* release/
        cd release
        7z a -tzip ../flutter_linux_release.zip *
        cd ..
        ls -lh flutter_linux_release.zip

    - name: Upload Linux build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: linux-${{ github.ref_name }}-${{ github.run_number }}
        path: flutter_linux_release.zip

    - name: Release Package
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v2
      with:
        files: flutter_linux_release.zip
